.mid-hero-section{
    width: full;
    /* background-size: 100%;
    background-size: cover; */
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    padding: 0 13%;
    padding-bottom: 60px;
}