<div class="nav-menu">
  <ul>
    <li><a href="#hero-sction">Home</a></li>
    <li><a href="#support">About</a></li>
    <li><a href="#product-section">Shop</a></li>
    <li><a href="#/donate">Donate</a></li>
    <li><a href="#/contact">Contact</a></li>
  </ul>
</div>

<!-- <ul>
  <li><a href="#hero-sction">Home</a></li>
  <li><a href="#support">About</a></li>
  <li><a href="#product-section">Shop</a></li>
  <li><a href="#/donate">Donate</a></li>
  <li><a href="#/contact">Contact</a></li>
</ul> -->