.hero-btn button{
    padding:5px 25px;
    line-height: inherit;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    background-color: #eb5757;
    color: #fff;
    border: none;
    
}
.hero-btn button:hover{
    background-color: #000000;
    color: #fff;
    
}

/* .hero-btn{
    padding-bottom: 5%;
} */