<div class="product-details">
    <div class="product-image">
        <div class="product-box"></div>
        <div class="product-text"><p>White Tent<br>$200.00 USD</p></div>
        <div class="product-btn"><button>Details</button></div>
    </div>
    <div class="product-image">
        <div class="product-box"></div>
        <div class="product-text"><p>White Tent<br>$200.00 USD</p></div>
        <div class="product-btn"><button>Details</button></div>
    </div>
    <div class="product-image">
        <div class="product-box"></div>
        <div class="product-text"><p>White Tent<br>$200.00 USD</p></div>
        <div class="product-btn"><button>Details</button></div>
    </div>
</div>
