.product-box{
    width: 300px;
    min-height: 350px;
    background-color: aqua;
    text-align: center;
}
.product-image{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-text{
    text-align: center;
}
.product-details{
    display: flex;
    float: row;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 6.5%;
    justify-content: space-around;
    
}

.product-btn button{
    padding: 8px 16px;
    border-radius: 7px;
    border:none;
    background-color: #eb5757;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.product-box{
    background-image: url(/assets/product-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}